rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isFirebaseAdmin() {
      return request.auth != null && 
        ('email' in request.auth.token) &&
        (request.auth.token.email.lower() == 'abdi@moderntechethiopia.com' ||
         request.auth.token.email.lower() == 'thefeeddaily9@gmail.com' ||
         request.auth.token.email.lower() == 'brakilu7@gmail.com' ||
         request.auth.token.email.lower() == 'info@moderntechethiopia.com' ||
         request.auth.token.email.lower() == 'moderntechplc@gmail.com' ||
         request.auth.token.email.lower() == 'abdi.edao@gmail.com' ||
         request.auth.token.email.lower() == 'abdi@moderntechplc.com');
    }

    match /inquiries/{inquiryId} {
      allow read, write: if true;
    }

    match /activity_logs/{logId} {
      allow read, write: if true;
    }

    match /website_images/{imageId} {
      allow read, write: if true;
    }

    match /images/{imageId} {
      allow read, write: if true;
    }
  }
}
